<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>
  <!--Inserindo Imagem-->
  <div style="text-align: center;">
    <img src="\assets\icon\123.webp" alt="Foto Totem" class="mx-auto">
  </div>

<!--Lista de Alunos-->
  <ion-list>
    <ion-item>
      ADYSSON NASCIMENTO DOS ANJOS
    </ion-item>
    <ion-item>
      ANA ALICE ARAUJO DE SOUZA
    </ion-item>
    <ion-item>
      EDUARDO JOSÉ CHAGAS COELHO
    </ion-item>
    <ion-item>
      GRIEZA MELO TAVARES DE LACERDA
    </ion-item>
    <ion-item>
      LINCOLN SANTOS FIGUEREDO
    </ion-item>
    <ion-item>
      MARIA ISIS SOUZA CABRAL
    </ion-item>
    <ion-item>
      MONICK HELENN FERREIRA DE ARRUDA
    </ion-item>
    <ion-item>
      VICTOR VINÍCIUS SANTOS DE SOUZA
    </ion-item>
  </ion-list>
  
 <!-- <app-explore-container name="Tab 2 page"></app-explore-container>-->
</ion-content>
